.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: yellow;
  min-height: 100vh;
}

h1 {
  text-align: center;   
}

.app {
  background-color: #fff;
  width: 350px;
  height: 400px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
}

.score-section {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin: 100px 0;
  color: #555;
}

/* QUESTION*/
.question-wrapper {
  width: 100%;
  position: relative;
}

.question-count {
  padding-right: 5px;
}

.question-texts {
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

/* ANSWER*/
.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

button {
  width: 250px;
  font-size: 16px;
  color: #555;
  background-color: transparent;
  border-radius: 5px;
  padding: 10px;
  margin: 5px 20px;
  border: 2px solid yellow;
  cursor: pointer;
}

button:hover {
  background-color: yellow;
  color: #555;
  font-weight: bold;
}

.correct {
  background-color: #2f922f;
}

.incorrect {
  background-color: #ff3333;
}
